<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

    <meta charset="UTF-8">
    <title>Actualizar Película</title>
</head>
<body>

<h1>Actualizar Película</h1>

<form th:action="@{/films/edit-confirm}" th:object="${film}" method="post">
    <label for="title">Título:</label>
    <input type="text" id="title" th:field="*{title}" required /><br>

    <label for="description">Descripción:</label>
    <textarea id="description" th:field="*{description}" required></textarea><br>

    <label for="releaseYear">Año de Estreno:</label>
    <input type="number" id="releaseYear" th:field="*{releaseYear}" required /><br>

    <button type="submit" onclick="return confirm('¿Está seguro de que desea actualizar esta película?')">Actualizar</button>
</form>

<!-- Enlace para cancelar -->
<a href="/films">Cancelar</a>

</body>
</html>
